@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.cardImageContent {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}

.card {
    border: none;


}

#canvas {
    width: 100%;
    height: 431px;

}

#video {
    width: 100%;
    height: 431px;
    display: none;
}

.contentIcon {
    top: 0;
    left: 0;
}

.cardTextContent {
    margin-top: 10px;

}

.cardTextContent h1 {
    font-weight: 500;
    font-size: 45px;
    text-align: left !important;
}

.cardTextContent p {
    font-size: 15px;
    text-align: left !important;
    font-weight: 500;
    color: #4A4A4A;
}

.try {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;

}

.try a {
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;


}

.try span {
    border-radius: 5px;
    font-weight: 500;
    font-size: 25px;
    text-align: left !important;
    line-height: 60px;
    margin-right: 56px;
}

.loadingContent {
    width: 100%;
    height: 431px !important;
    background: #191919;
    position: relative;

}

.loadImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadIcon {
    top: 330px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background: gray;
    position: relative;
}

.i-2 {
    right: 10px;
    z-index: 111;

}


.i-1 {
    left: 10px;
    z-index: 111;
}
.loadIcon img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

